name: release
on: workflow_dispatch

jobs:
  find_version:
    runs-on: windows-latest
    # POWERSHELL CANNOT WRITE VARIABLES
    defaults:
      run:
        shell: bash
    outputs:
      json_str: ${{ steps.read-json.outputs.json_str }}

    steps:
      - name: checkout repository
        uses: actions/checkout@v6
      - name: setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: generate data
        run: 'python .github/workflows/script/matrix.py'
      - name: read json
        id: read-json
        run: |
          echo "json_str=$(cat data.json)" >> $GITHUB_OUTPUT

  publish:
    runs-on: windows-latest
    needs: find_version
    # POWERSHELL CANNOT WRITE VARIABLES
    defaults:
      run:
        shell: bash
    env:
      IS_RELEASE: 'true'
    strategy:
      matrix:
        mc_ver: ${{ fromJSON(needs.find_version.outputs.json_str).mc_vers }}
    steps:
      - name: get dir and mrpack version
        id: data
        run: |
          echo "mc_ver=${{ matrix.mc_ver }}" >> $GITHUB_OUTPUT
          echo "dir=${{ fromJSON(needs.find_version.outputs.json_str).dir_map[matrix.mc_ver] }}" >> $GITHUB_OUTPUT
          echo "ver=${{ fromJSON(needs.find_version.outputs.json_str).ver_map[matrix.mc_ver] }}" >> $GITHUB_OUTPUT
      - name: check tag
        id: check
        uses: mukunku/tag-exists-action@v1.7.0
        with:
          tag: ${{ format('release/{0}+mc{1}', steps.data.outputs.ver, matrix.mc_ver) }}

      - name: checkout repository
        if: steps.check.outputs.exists == 'false'
        uses: actions/checkout@v6
      - name: setup python
        if: steps.check.outputs.exists == 'false'
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - name: pip requirements
        if: steps.check.outputs.exists == 'false'
        run: pip install -r script/requirements.txt
      - name: export mrpack
        if: steps.check.outputs.exists == 'false'
        run: 'python script/export.py -v ${{ steps.data.outputs.dir }}'
      - name: publish
        if: steps.check.outputs.exists == 'false'
        uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: ccYQOriP
          modrinth-token: ${{ secrets.MR_TOKEN }}

          github-token: ${{ secrets.GH_TOKEN }}
          github-tag: ${{ format('release/{0}+mc{1}', steps.data.outputs.ver, matrix.mc_ver) }}

          name: ${{ format('Redstone Tools v{0} for mc{1}', steps.data.outputs.ver, matrix.mc_ver) }}
          files: ${{ format('{0}/*.mrpack', steps.data.outputs.dir) }}
          loaders: fabric
          version: ${{ format('{0}+mc{1}', steps.data.outputs.ver, matrix.mc_ver) }}
          version-type: release
          game-versions: ${{ matrix.mc_ver }}
          changelog-file: changelog.md
